#grid{
    background-color: greenyellow;
    display: grid;
    grid-template-columns: auto 500px auto;
}
.flowerLeft {
    width: 50px;
}
#text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    text-align: center;
}
