#grid{
    background-color: rgb(161 250 79);
    display: grid;
    grid-template-columns: auto 800px auto;
    width: 1500px;
}
#text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    text-align: center;
}
img {
    width: 350px;
}
