#grid{
    background-color: greenyellow;
    display: grid;
    grid-template-columns: auto 500px auto;
}
.FlowerLeft {
    width: 150px;
}
#text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}